{% extends 'base.html' %}
{% block content %}
<nav>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Sign up">
  </form>
</nav>
<aside>
</aside>
{% endblock %}
