{% extends 'base.html' %}
{% block content %}
<nav>
  <div id="center"><a href={% url 'EntrepriseLogin' %}>Login</a></div>
</nav>
<aside>
  <div id="center"><a href={% url 'EntrepriseSignup' %}>Sign up</a></div>
</aside>

{% endblock %}
