{% extends 'base.html' %} {% block content %}
<nav>
  <form method="post">
    {% csrf_token %} {% for field in form %} {{ field.errors }} {{field.label | linebreaks}} {{ field }} {% endfor %}
    <p></p>
    <input type="submit" value="Sign up">
  </form>
</nav>
<aside>
</aside>
{% endblock %}
