{% extends 'base.html' %}
{% block content %}
<nav>
  <div id="center"><a href={% url 'EntrepriseHomepage' %}>Entreprise</a></div>
</nav>
<aside>
  <div id="center"><a href={% url 'PersonHomepage' %}>Person</a></div>
</aside>

{% endblock %}
